.footer__copyright {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0 200px 60px 200px;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}