.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 450px;
}