@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__person/profile__person.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-container/profile__name-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__new-photo-button/profile__new-photo-button.css);
@import url(../blocks/content-gallery/content-gallery.css);
@import url(../blocks/content-gallery/__cards/content-gallery__cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__descriotion/card__description.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_status/card__like-button_status_active.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/edit-form/edit-form.css);
@import url(../blocks/edit-form/__close-button/edit-form__close-button.css);
@import url(../blocks/edit-form/__form-description/edit-form__form-description.css);
@import url(../blocks/edit-form/__profile-description/edit-form__profile-description.css);
@import url(../blocks/edit-form/__profile-name/edit-form__profile-name.css);
@import url(../blocks/edit-form/__submit-button/edit-form__submit-button.css);