.edit-form__profile-name {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: none;
    margin: 0 0 30px 0;
    padding-bottom: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.edit-form__profile-name:focus {
    outline: none;
}